@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans&display=swap');
@import"./partials/components/main";
@import"./partials/components/nav";
@import"./partials/components/sidebar";

body{
    background-color: aquamarine;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
   /* scrollbar-width: none;*/
  }

 /* .body::-webkit-scrollbar{
    display: none;
  }*/

