@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import"./partials/components/form";


body{
    background-color: #F4F5FA;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}